$black: hsla(0, 0%, 19%, 1);

body {
    margin: 0;
    background-color: red;
}

body.color {
    background-color: lighten($black, 65); 
}



ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

button {
    border: 1px solid darken($black, 10);
    border-radius: 4px;
    padding: 10px;
    font-size: inherit;
    &:hover {
        background-color: lighten($black, 65);
        cursor: pointer;
    }
}

nav {
    padding: 10px;
    background-color: $black;
    display: flex;
    justify-content: space-around;
    height: 100px;
    width: 100vw;
    transition: all 750ms;
    & li {
        display: inline-block;
    }

    a {
        display: inline-block;
        text-decoration: none;
        color: white;
        padding: 5px;
    }



}
nav.verticalNav {
    flex-direction: column;
    justify-content: flex-start;
    height: 500px;
    width: 25vw;
    position: fixed;
    top: 0;
    left: 0;
    li {
        display: block;
    }
}

main {
    border: 1px solid $black;
    transition: all 750ms;
    width: 100vw;
}
main.verticalAlign {
    position: fixed;
    top: 0;
    right: 0;
    width: 73vw;
}


span {
    transition: all 1s;
}
span.colorUsername {
    font-size: 200%;
    color: palevioletred;
}



a {
    text-decoration: none;
    color: lighten($black, 85);
    background-color: $black;
}
a.colorLink1 {
    color: orange;
}
a.colorLink2 {
    color: purple;
    background-color: grey;
}
a:hover {
    background-color: lighten($black, 10);
}


