//Imported elements
@import url('https://fonts.googleapis.com/css?family=Mina:400,700');

//Set color variables
$black: hsl(80, 10%, 12%);

//Link hover page change test

html {
    font-family: 'Mina', sans-serif
}

body {
    position: relative;
    display: flex;

}

a {
    position: absolute;
    // z-index: 1000;
    display: block;
    width: 400px;
    display: inline-block;
}
